
.Header {
    color: #D5A188;
    text-shadow: 1px  #e3e7e9;
    
}

.HeaderNav {
    padding: 10px;
    color: #D5A188;
    text-shadow: 1px  #e3e7e9;
}

.HeaderNav:hover {
    padding: 10px;
    color:#e3e7e9;
    text-shadow: 1px  #D5A188 ;
}

