@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

:root {
  --color-orange: #cf7651;
  --color-turquoise: #2f6568;
  --color-dark-blue: #162936;
  --color-green: #329680;
  --color-blue: #099c95;
  --color-dark-green: #175b52;
  --color-white: #fff;
  --color-gray: #505050;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-dark-blue);
  background: -webkit-linear-gradient(
    bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );
  background: -moz-linear-gradient(
    bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );

  color: #585761;
  text-shadow: 1px 1px #9494947c;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  --menu-item-size: 50px;
  --container-width: 700px;
  --container-height: 400px;
  --line-offset: calc(
    (100% - var(--container-height)) / 2 + var(--menu-item-size) + 0.6em
  );
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
}

.main-menu {
  display: flex;
  list-style: none;
  padding: 0;
  border-radius: 5px;
}

.main-menu > li {
  box-sizing: border-box;
  width: 45%;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  margin: 5px;
  transition: 0.5s linear all;
  background: var(--color-green);
  color: var(--color-dark-green);
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.main-menu > li i {
  margin-right: 5px;
}

.main-menu > li.active {
  color: var(--color-white);
  background: var(--color-blue);
  cursor: default;
  text-shadow: 1px 1px 1px var(--color-dark-green);
  font-size: 18px;
}

.main-menu > li.with-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  left: 0;
  top: 50px;
  width: 100%;
  background: var(--color-gray);
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.submenu > li {
  background: #dedede;
  border-bottom: 1px solid var(--color-gray);
  color: #777;
  padding: 1em;
  transition: 0.3s all linear;
  display: block;
  line-height: 1.2;
}

.submenu > li:active {
  background: var(--color-white);
  font-size: 100%;
}

article {
  background: var(--color-white);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
}

h1 {
  font-size: 52px;
  color: var(--color-turquoise);
  text-shadow: 1px 3px var(--color-orange);
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

button {
  background: none;
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  min-width: 220px;
  height: 35px;
  font-size: 16px;
  color: #585761;
  text-anchor: middle;
  scale: 1;
  transition: 0.15s ease-in-out;
  margin-bottom: 0.5rem;
}

.activeBtn {
  background-color: var(--color-orange);
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  color: white;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

button.rightAlign {
  float: right;
}

button:hover {
  background-color: var(--color-orange);
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  color: white;
}

button:active {
  scale: 0.95;
}

.content {
  font-size: 16px;
}

select {
  height: 35px;
  border-radius: 25px;
  min-width: 100px;
  text-align: center;
  border: 2px solid var(--color-orange);
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select::after {
  content: "▼"; /* Custom arrow */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* ------------------------------------DESKTOP-----------------------------------*/

@media (hover: hover) and (pointer: fine) {
  .main-menu > li:hover .submenu {
    display: block;
  }

  .submenu > li:hover {
    background: var(--color-gray);
    color: var(--color-white);
  }

  .main-menu > li.active:hover .submenu {
    display: none;
    font-size: 100%;
  }

  #PlaySpaceTrace {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  #spaceTraceMobileText {
    display: none;
  }
}

@media (min-width: 1024px) {
  article {
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: -1;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
  }

  .container {
    width: var(--container-width);
    height: var(--container-height);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .main-menu {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0.6em 0 0 0;
  }

  .main-menu > li {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    transition: 0.5s linear all;
    background: var(--color-green);
    color: var(--color-dark-green);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
  }

  .main-menu > li:not(.with-submenu) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }

  .main-menu > li:nth-child(2) {
    transform: translateX(-5%);
  }

  .main-menu > li:nth-child(3) {
    transform: translateX(-10%);
  }

  .main-menu > li:nth-child(4) {
    transform: translateX(-15%);
  }

  .main-menu i {
    margin-right: 5px;
  }

  .main-menu > li:hover:not(.active) {
    background: linear-gradient(
      to right,
      var(--color-green),
      var(--color-blue)
    );
    color: var(--color-white);
  }

  .main-menu > li:active:not(.active),
  .main-menu > li:active:not(.with-submenu) {
    background: var(--color-blue);
    color: var(--color-white);
  }

  .main-menu > li:hover i:not(li.active) {
    color: #175c58;
  }

  .main-menu .active {
    color: var(--color-white);
    background: var(--color-blue);
    cursor: default;
    text-shadow: 1px 1px 1px var(--color-dark-green);
    font-size: 100%;
  }

  .content {
    font-size: 16px;
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
    box-shadow: 5px 5px 5px #ccc;
  }

  .with-submenu {
    position: relative;
    display: inline-block;
    clip-path: polygon(
      10% 0%,
      0% 100%,
      0% 500%,
      95% 500%,
      95% 100%,
      100% 50%,
      95% 0%
    );
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }

  .with-submenu:hover .submenu {
    display: block;
  }

  .submenu > li {
    background: #dedede;
    border-bottom: 1px solid var(--color-gray);
    color: #777;
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
  }

  .submenu > li:hover {
    background: var(--turquoise-color);
  }

  .submenu > li:active {
    background: var(--color-white);
  }
}

/* ------------------------------------MOBILE------------------------------------*/

@media (hover: none) and (pointer: coarse) {
  .main-menu > li.active .submenu {
    /* Display submenu for active (selected) item on touch devices */
    display: block;
  }

  #PlaySpaceTrace {
    display: none;
  }

  #spaceTraceMobileText {
    color: red;
    text-align: center;
    display: block;
  }

  button:active {
    background-color: var(--color-orange);
    border: solid var(--color-orange) 2px;
    border-radius: 25px;
    color: white;
  }

  button {
    background: none;
    border: solid var(--color-orange) 2px;
    border-radius: 25px;
    color: #585761;
  }
}

@media (max-width: 1024px) {
  article {
    margin-top: 20px;
  }

  .main-menu {
    flex-wrap: wrap;
    justify-content: center;
    background: var(--color-dark-blue);
  }
}
