html, body{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}


body {
    background: #8AEFB4;
    background: -webkit-linear-gradient(top right, #8AEFB4, #5208CE);
    background: -moz-linear-gradient(top right, #8AEFB4, #5208CE);
    background: linear-gradient(to bottom left, #8AEFB4, #5208CE);
    min-height: 100%;
    color: #383838;
    text-shadow: 1px 1px rgba(148, 148, 148, 0.486);
    font-size: 18px;
}

.center {   
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#LogInErrorText
{
    color: red;
}

input
{
    background-color: transparent ;
    color:  #8AEFB4;
    border: solid 2px #6106ffd8;
    border-radius: 25px;
    width: 210px;
    height: 20px;
    text-align: center;
    margin: 20px;
}

input::placeholder
{
    color: black;
}

input:hover
{
    background-color: #6106ffd8 ;
    border: solid  #8AEFB4 2px;
    border-radius: 25px;
    color: white;
}

#LogInButtons
{
    margin-top: 20px;
}

button {
    background: none;
    border: solid  #6106ffd8 2px;
    border-radius: 25px;
    min-width: 220px;
    height: 35px;     
    font-size: 16px;
    color: #8AEFB4;
    text-anchor:middle;
}

button:hover {
    background-color: #6106ffd8 ;
    border: solid  #8AEFB4 2px;
    border-radius: 25px;
    color: white;
}