@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

:root {
  --color-orange: #cf7651;
  --color-turquoise: #2f6568;
  --color-dark-blue: #162936;
  --color-green: #329680;
  --color-blue: #099c95;
  --color-dark-green: #175b52;
  --color-white: #fff;
  --color-gray: #505050;

  --favPositionX: 0;
  --favPositionY: 0;
  --collectionPositionX: 0;
  --collectionPositionY: 0;
  --modalItemInitialPositionX: 0;
  --modalItemInitialPositionY: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-dark-blue);
  background: -webkit-linear-gradient(
    bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );
  background: -moz-linear-gradient(
    bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );
  background: linear-gradient(
    to bottom,
    var(--color-dark-blue) 5%,
    var(--color-turquoise) 38%,
    var(--color-orange) 100%
  );

  color: #585761;
  text-shadow: 1px 1px #9494947c;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
  background-repeat: no-repeat;
  background-attachment: fixed;

  --menu-item-size: 50px;
  --container-width: 700px;
  --container-height: 400px;
  --line-offset: calc(
    (100% - var(--container-height)) / 2 + var(--menu-item-size) + 0.6em
  );
}

.content {
  background: var(--color-white);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
  max-height: 90vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--color-dark-green);
  transition: 0.3s all linear;
  width: 100%;
}

h1 {
  font-size: 52px;
  color: var(--color-turquoise);
  text-shadow: 1px 3px var(--color-orange);
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

button {
  background: none;
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  min-width: 220px;
  height: 35px;
  font-size: 16px;
  color: #585761;
  text-anchor: middle;
  scale: 1;
  transition: 0.15s ease-in-out;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: var(--color-orange);
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  color: white;
}

button:active {
  scale: 0.95;
}

select {
  height: 35px;
  border-radius: 25px;
  min-width: 100px;
  text-align: center;
  border: 2px solid var(--color-orange);
}

.activeBtn {
  background-color: var(--color-orange);
  border: solid var(--color-orange) 2px;
  border-radius: 25px;
  color: white;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select::after {
  content: "▼"; /* Custom arrow */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  width: var(--container-width);
  height: var(--container-height);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 0.15rem;
}

.main-menu > li {
  box-sizing: border-box;
  height: var(--menu-item-size);
  width: calc(3.5 * var(--menu-item-size));
  line-height: var(--menu-item-size);
  padding: 0 2em;
  margin: 1px;
  transition: 0.5s linear all;
  background: var(--color-green);
  color: var(--color-dark-green);
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.main-menu > li.with-submenu {
  position: relative;
}

.main-menu > li.active {
  color: var(--color-white);
  background: var(--color-blue);
  cursor: default;
  text-shadow: 1px 1px 1px var(--color-dark-green);
  font-size: 18px;
}

.main-menu > li:hover:not(.active) {
  background: linear-gradient(to right, var(--color-green), var(--color-blue));
  color: var(--color-white);
}

.submenu {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  left: 0;
  top: 50px;
  width: 100%;
  background: var(--color-gray);
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.submenu > li {
  background: #dedede;
  border-bottom: 1px solid var(--color-gray);
  color: #777;
  padding: 1em;
  transition: 0.3s all linear;
  display: block;
  line-height: 1.2;
}

.submenu > li.active {
  background: var(--color-turquoise);
  color: var(--color-orange);
  font-size: 100%;
}

.with-submenu:hover .submenu {
  display: block;
}
.submenu > li {
  background: #dedede;
  border-bottom: 1px solid var(--color-gray);
  color: #777;
  padding: 1.2em 1em;
  transition: 0.3s all linear;
  display: block;
  line-height: 0%;
}

.submenu > li:hover {
  background: var(--color-turquoise);
  color: var(--color-white);
}
.main-menu > li:active:not(.active) {
  background: var(--color-blue);
  color: var(--color-white);
}

/* Desktop */
@media (min-width: 1025px) {
  .main-menu > li:not(.with-submenu) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }

  .with-submenu {
    position: relative;
    display: inline-block;
    clip-path: polygon(
      10% 0%,
      0% 100%,
      0% 500%,
      95% 500%,
      95% 100%,
      100% 50%,
      95% 0%
    );
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  }

  .main-menu > li.active > .submenu {
    font-size: 16px;
  }
  .main-menu > li:hover .submenu {
    display: block;
  }
  .main-menu > li:nth-child(2) {
    transform: translateX(-5%);
  }

  .main-menu > li:nth-child(3) {
    transform: translateX(-10%);
  }

  .main-menu > li:nth-child(4) {
    transform: translateX(-15%);
  }

  #PlaySpaceTrace {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  #spaceTraceMobileText {
    display: none;
  }
}

/* Mobile */
@media (max-width: 1024px) {
  .main-menu {
    flex-wrap: wrap;
    justify-content: center;
    background: var(--color-dark-blue);
    margin-bottom: 0.25rem;
  }
  .main-menu li {
    flex: 1 1 calc(50% - 20px);
  }

  .container {
    margin: unset;
    transform: unset;
    top: unset;
    left: unset;
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    max-height: 96vh;
    height: auto;
    margin: auto;
    margin-top: 1rem;
  }

  #PlaySpaceTrace {
    display: none;
  }

  #spaceTraceMobileText {
    color: red;
    text-align: center;
    display: block;
  }
}
@media (max-width: 570px) {
  .main-menu li {
    min-width: 130px;
  }
}

@media (max-width: 450px) {
  .submenu li {
    font-size: 79%;
  }
}
