:root {
  --color-white: white;
  --color-grey: rgb(103, 119, 135);
  --color-blue: rgb(36, 118, 254);
  --color-darkblue: rgb(32, 51, 91);
  --color-lightblue: rgb(236, 242, 255);
  --color-black: black;
  --color-lightgreen: rgb(1, 200, 167);
  --color-contrast: rgb(249, 250, 254);
}

.Saas-Page,
.Saas-Page body {
  background: var(--color-white);
  text-shadow: none;
  font-family: "Rubik", sans-serif;
}

#Saas-Page h1 {
  color: var(--color-black);
  text-shadow: none;
  background: transparent;
  -webkit-text-fill-color: black;
}
#Saas-Page h2 {
  color: var(--color-black);
  -webkit-text-fill-color: black;
  background: transparent;
  text-shadow: none;
}

.Saas-Page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.Saas-Page section {
  margin-bottom: 8rem;
}

.Saas-Page img {
  width: 100%;
}

.Saas-Page li,
.Saas-Page a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-black);
}
.Saas-Page a {
  width: auto;
}

.Saas-Page .SaaS-container {
  width: 100%;
  padding: 1rem 2rem;
}

.Saas-Page .btn {
  border: 1px solid transparent;
  border-radius: 25px;
  color: var(--color-blue);
  font-weight: 500;
  font-size: 14px;
}

.Saas-Page .btn-primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 15px 30px;
  font-weight: 300;
}

.Saas-Page .btn-primary i {
  padding-right: 0.3rem;
}

@media (min-width: 1024px) {
  .SaaS-container {
    max-width: 1024px;
    margin: auto;
  }
}
