@media (prefers-reduced-motion) {
  .backgroundAnimation {
    animation: none 25s linear infinite;
  }
}

@media (max-width: 1200px) {
  .landingPageWrapper {
    max-width: 90%;
  }
  .projectCardDisplayWrapper,
  .workExperience {
    width: 95%;
  }
}

@media (max-width: 970px) {
  .landingPageWrapper {
    max-width: 98%;
  }
  .projectCardDisplayWrapper,
  .workExperience {
    width: 98%;
  }
}

@media (max-width: 900px) {
  .workExperience {
    padding-top: 10rem;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: var(--color-surface-100);
    border: none;
    border-bottom: 2px solid var(--color-primary-600);
    max-height: 200px;
    min-height: 200px;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialInformation > ul > li {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .sideBarTechStack {
    display: none;
  }

  .profileInformation {
    min-width: 320px;
  }
}

@media (max-width: 730px) {
  header nav ul {
    gap: 1rem;
  }

  .aboutSkillsWrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  h2 {
    font-size: 3rem;
  }
  header {
    justify-content: space-between;
  }
  .profileInformation {
    min-width: 0;
  }
  .socialInformation > ul > li {
    width: auto;
    margin-left: 0.5rem;
  }
  .sidebar {
    flex-direction: column;
  }

  .aboutDescriptionText {
    max-width: 95%;
  }

  .projectCard {
    padding: 1rem;
  }

  .projectCardInformationWrapper {
    width: 70%;
  }

  .projectCardInformationWrapper > h2 {
    margin: 0;

    font-size: 1.8em;
  }

  .projectImageWrapper {
    display: none;
  }
}


@media (max-width: 390px) {
 .profileInformation {
  flex-direction: column;
  align-items: center;
 }

 .sidebar{
  min-height: 300px;
  position: absolute;
 }
 .contentWrapper {
  padding-top: 11rem;
 }

 .projectCard {
  flex-direction: column;
  gap: 1rem;
  align-items: center; 
  min-height: 250px;
 }

  .projectCardInformationWrapper{
    width: 100%;
  }

 .projectTechStack {
  flex-direction: row;
 }

}